.display{
    border: 1px solid #cccccc15;
/*     background-color: rgba(0, 0, 0, 0.068); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2px;
}