

@for( category of this.categories(); track $index*3 ){
  <app-category-headings [categories]="category" [id]="idCategory"></app-category-headings>

  <div class="display">
    
    
    @for(product of this.products(); track $index+3){
      @if(product.category == category){
   
        @if(product.isHot()){
              <app-card [date]="product" [id]="product.category"></app-card>
        }
        
        @if(!product.isHot()){
          <app-card [date]="product" [id]="product.category"></app-card>
        }
      }
    }
  </div>
}










