

@for(category of this.categories(); track trackByCategory){
  <app-category-headings [categories]="category"></app-category-headings>

  <div class="display">
    
    
    @for(product of this.products(); track trackByProduct){
      @if(product.category == category){
   
        @if(product.isHot()){
              <app-card [date]="product"></app-card>
        }
        
        @if(!product.isHot()){
          <app-card [date]="product"></app-card>
        }
      }
    }
  </div>
}










