@use '../../../../../style/variable' as *;



.footer {
  border-width: 1px;

  position: fixed;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: 200px ;
  width: 80px;
  height: 60px;
  background-color: white;
  
  z-index: 1000;
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font-weight: bold;
  width: auto;
  height: 100%;
  font-size: 50px; 
  cursor: pointer; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2); 
  color: #ffffff; 
}

.icon:active {
  transform: scale(0.9); 
}
  
  
button{
  background-color: #00000000;
  border: none;
  color: rgb(255, 255, 255);

  text-decoration: none;

  cursor: pointer;
}

  