.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background: rgba(255, 255, 255, 0);
    padding: 15px;
    border-radius: 0 0 25px 25px;
    position: relative;
  
    .back-button,
    .trash-button {
      background: none;
      border: none;
      font-size: 40px;
      cursor: pointer;
    }
  
    .trash-button {
      width: 30px;
      height: 30px;
      position: absolute;
      color: red;

      right: 10px;
    }
  }
  