
.table-container{
    width: 100vh;
    background-color: salmon;
}

.table-body{
    width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;

}


.table-items{
    width: 100%;
    font-weight: bolder;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(58, 57, 57, 0.418);
    transition: 0.3s;
}

.table-items:hover{
    background-color: rgba(0, 0, 0, 0.068);
    transform: scale(1.02);
}

.table-thead{
    background-color: rgb(208, 255, 0);
    border-radius: 3px;
    width: 100vh;
}
.table-header{
    background-color: rgba(0, 0, 0, 0.068); 
    border-radius: 3px;
    width: 100%;
    height: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;


}

td{
    text-align: center;
}

.table-footer{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    padding-right: 10px;
    transition: 0.3s;
    color: #FFAA00;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(58, 57, 57, 0.418);

    

}

.btn-danger{
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}