@if(product.isHot()) {
  <div class="product-card hot-card" [id]="product.id" (click)="selectProduct()">
    <img src="{{ product.Image }}" alt="{{ product.nombre }}">
    <div class="info">
      <h2>{{ product.nombre }}</h2>
      <p>{{ product.descripcion }}</p>
      <span>{{ product.like }}</span>
      <button class="like" (click)="toggleLike()">
        ❤️
      </button>
    </div>
  </div>
} @else {
  <div class="product-card" [id]="product.id" (click)="selectProduct()">
    <img src="{{ product.Image }}" alt="{{ product.nombre }}">
    <div class="info">
      <h2>{{ product.nombre }}</h2>
      <p>{{ product.descripcion }}</p>
      <span>{{ product.like }}</span>
      <button class="like" (click)="toggleLike()">
        ❤️
      </button>
    </div>
  </div>
}




