// Variables SASS
$primary-color: rgba(206, 201, 201, 0); 
$text-color: white;
$bg-overlay: rgba(0, 0, 0, 0);

@mixin button-style {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $bg-overlay;
  color: $text-color;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  z-index: 10;
}

// Estilos principales
.carousel {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;

  img {
    width: 80%; 
    max-width: 500px; 
    display: block;
    margin: 0 auto; 
  }
}


.texCarrusel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: $text-color;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}


.prev {
  @include button-style;
  left: 20px;
}

.next {
  @include button-style;
  right: 20px;
}



// 📱 Responsividad 
@media (max-width: 768px) {
  .carousel-item {
    width: 100%;
    height:100% ;

    img{
     width: 230px; 
     height: -30%;
    }
  }

  .texCarrusel {
    font-size: 18px; 
    bottom: 7px; 
  }
  

  .texCarrusel {
    position: fixed;
    text-decoration:overline;


    background-color: rgba(0, 0, 0, 0);

  }
  .prev {
    @include button-style;
    left: 1px;
  }
  
  .next {
    @include button-style;
    right: 1px;
  }
  



  .prev, .next {
    
    font-size: 30px; 
    padding: 20px;
  }
}

// 🖥️ Ajustes para pantallas muy grandes
@media (min-width: 1200px) {
  .carousel-item {
    min-width: 100%; // Mantener el ancho completo
  }

  .texCarrusel {
    font-size: 36px; // Aumentar el tamaño del texto
  }
}