@use '../../../../../style/variable' as *;
@use 'sass:color';

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items:center ;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2px;
    
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    background: #e0e0e0;
    cursor: pointer;
    transition: 0.3s, color 0.3s;

    &.active {
      background: $primary-color;
      color: #fff;
    }

    &:hover {
      background: color.adjust(#e0e0e0, $lightness: -10%);
    }
  }
}
